/*==========
BEGINNING of Add to Home Screen (A2HS) Box
==========*/
#A2HS-box{
	left:0;
	position:fixed;
	right:0;
	top:-300px;
	transition:all 2s;
	z-index:var(--z-index-A2HS-box)
}

#A2HS-box.active{top:0}

#A2HS-box>div{
	box-shadow:0 0 20px 3px rgba(0,0,0,.22);
	background:#fff;
	padding:20px;
	position:relative;
	margin:0 auto;
	max-width:500px;
	width:auto
}

#A2HS-box>div:nth-child(2){text-align:right}

#A2HS-box>div img{
	float:left;
	margin-right:10px;
	width:75px
}

#A2HS-box>div>button{
	background:#fff;
	border:none;
	box-shadow:none;
	color:#1165f1;
	padding:1rem 2rem
}

#A2HS-box>div>button:nth-child(2){
	background:#1165f1;
	box-shadow:0 2px 5px 0 rgba(0,0,0,.16), 0 2px 6px 0 rgba(0,0,0,.12);
	color:#fff
}

#A2HS-box svg{width:100px}
/*==========
END of Add to Home Screen (A2HS) Box
==========*/
